@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* VARIANTS */
  .primary {
    @apply border-0 bg-interactive-backgroundStrong text-base-white hover:bg-interactive-backgroundStrongHover 
    focus:outline-2 focus:outline-offset-1 focus:outline-interactive-borderActive focus:outline active:bg-interactive-backgroundStrongActive;
  }
  .primary.disabled {
    @apply bg-base-gray100  text-base-gray300;
  }
  .secondary {
    @apply bg-interactive-field text-interactive-text hover:text-interactive-textHover hover:bg-interactive-fieldHover
    focus:outline-2 focus:outline-offset-1 focus:outline-interactive-borderActive focus:outline active:bg-interactive-fieldActive;
  }
  .secondary.disabled {
    @apply bg-interactive-field text-base-white;
  }
  .tertiary {
    @apply border-0 bg-transparent text-interactive-text hover:bg-interactive-field
    focus:outline-2 focus:outline-offset-1 focus:outline-interactive-borderActive focus:outline active:bg-interactive-fieldActive;
  }

  /* SIZES */
  .default {
    @apply px-5 py-8;
  }
  .medium {
    @apply px-6 py-2.5;
  }
  .large {
    @apply px-7 py-3.5;
  }
  .xlarge {
    @apply px-10 py-18;
  }

  /* icons BUTTON MODE */
  .icon.default img {
    @apply w-14 h-14;
  }

  .icon.medium img,
  .icon.large img,
  .icon.xlarge img {
    @apply w-20 h-20;
  }

  .icon.primary img {
    @apply stroke-white;
  }

  /* icons BUTTON POSITION */
  .iconLeft {
    @apply flex-row;
  }
  .iconLeft img {
    @apply mr-8;
  }
  .iconRight {
    @apply flex-row-reverse;
  }
  .iconRight img {
    @apply ml-8;
  }

  /* icons BUTTON ACTIVE MODE */
  .icons .iconsActive {
    @apply bg-blue-400 p-0.5;
  }
}
